resources/conll2012_ensemble.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/conll2012_model.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/conll2012_propid_model.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/conll05_ensemble.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/conll05_model.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/conll05_propid_model.tar.gz filter=lfs diff=lfs merge=lfs -text
